.button {
    -fx-background-color: transparent;
    -fx-background-radius: 22;
    -fx-font: 20px Elephant;
    -fx-text-fill: Black;
}

.button:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 22;
    -fx-text-fill: #0000FF;
    -fx-border-color: #0000FF;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

